<a href="https://colab.research.google.com/github/cocomarine25/LBnC/blob/main/midterm_study/class2023Fall_1013_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
## Lecture 1: Connecting to Databases

**Objective:** Learn how to install and connect to databases like MySQL and SQLite using Python.

### Introduction
- **Why Connect to Databases?**: In data analysis and manipulation, databases serve as repositories for structured data. Connecting to databases allows us to fetch, update, and manage this data programmatically using Python.

### Code Demonstration

In [ ]:
# Install MySQL Server
!apt-get update
!apt-get install mysql-server

# Start the MySQL service
!service mysql start

In [ ]:
# Log in to MySQL as root
!mysql -u root

```mysql
DROP USER IF EXISTS 'test'@'localhost';
CREATE USER 'test'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY '1234';
GRANT ALL PRIVILEGES ON *.* TO 'test'@'localhost' WITH GRANT OPTION;
FLUSH PRIVILEGES;
```

```mysql
DROP DATABASE IF EXISTS TestDataset;
CREATE DATABASE TestDataset;
CREATE TABLE TestDataset.TestTable (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(255),
    Age INT
);
INSERT INTO TestDataset.TestTable (Name, Age) VALUES
('John', 30),
('Alice', 25),
('Bob', 35);
exit;
```

In [ ]:
!pip uninstall mysql-connector
!pip uninstall mysql-connector-python
!pip install mysql-connector-python

In [ ]:
# Import the necessary libraries
import mysql.connector

# Connect to MySQL
mysql_conn = mysql.connector.connect(
    host="localhost",  # Database server address
    user="test",  # Database username
    password="1234",  # User's password
    database="TestDataset" # Name of the database
)

---
## Lecture 2: Executing SQL Queries

**Objective:** Learn how to execute SQL queries using Python.

### Introduction
- **Importance of SQL**: SQL (Structured Query Language) is used to interact with databases. Python can be used to execute SQL queries, making it a powerful tool for working with databases.

### Code Demonstration

In [ ]:
# Create a cursor object
mysql_cursor = mysql_conn.cursor(buffered=True)

# Execute SQL queries
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")

# Fetch data from the queries
mysql_result = mysql_cursor.fetchall()

print(mysql_result)


---
## Lecture 3: CRUD Operations

**Objective:** Learn how to perform CRUD operations (Create, Read, Update, Delete) on a database using Python.

### Introduction
- **CRUD Operations**: CRUD stands for Create, Read, Update, and Delete. These are fundamental database operations used to manipulate data within a database.

### Code Demonstration

In [ ]:
# CREATE: Insert a new record
mysql_cursor.execute("INSERT INTO TestDataset.TestTable (Name, Age) VALUES (%s, %s)", ("John Doe", 30))
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"CREATE exampl: {mysql_result}")

# READ: Retrieve data
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable WHERE Name = 'John Doe'")
mysql_result = mysql_cursor.fetchone()
print(f"READ example: {mysql_result}")


# UPDATE: Update existing data
mysql_cursor.execute("UPDATE TestDataset.TestTable SET Age = 31 WHERE Name = 'John Doe'")
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"UPDATE example: {mysql_result}")


# DELETE: Delete data
mysql_cursor.execute("DELETE FROM TestDataset.TestTable WHERE Name = 'John Doe'")
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"DELETE example: {mysql_result}")

---
## Lecture 4: Working with Database Libraries

**Objective:** Learn how to work with data using database libraries in Python.

### Introduction
- **Python Libraries**: Python offers several libraries and tools for data manipulation and analysis. We can leverage these libraries to work with database data effectively.

### Code Demonstration

In [ ]:
# Using pandas for data manipulation
import pandas as pd

# Retrieve data from the database and create a DataFrame
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
data = mysql_cursor.fetchall()
df = pd.DataFrame(data, columns=["ID", "Name", "Age"])
print(df)

# Perform data analysis with pandas
average_age = df["Age"].mean()
print(average_age)

**------------------------------코드 연습 시작 !------------------------------**

**Connecting to Databases**

In [2]:
# 구글 컴퓨터의 운영체제는 윈도우가 아니라 우분트다.
# 우리가 오픈한 것은 daemon이라 뒤에서 작동중이다.
# 데이터베이스를 만드는 과정은 웹사이트에서 아이디 저장 기능을 위해 필요하다.

# Install MySQL Server
!apt-get update # gpt-get은 설치하겠다는 의미다.
!apt-get install mysql-server # apt에게 mysql을 다운로드해달라는 의미다.

# Start the MySQL service
!service mysql start # mysql 실행해줘

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:4 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:6 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease [18.1 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,270 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,349 kB]
Hit:10 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:11 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,082 kB]
Hit:12 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:13 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,005 kB]
Hit:14 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:15 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy/main Sources [2,229 kB]
Get:16 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy/main amd64 Packages [1,144 kB]
Fetched 8,439 kB in 3s (2,568 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server-8.0 mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server mysql-server-8.0 mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 28 not upgraded.
Need to get 29.5 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.34-0ubuntu0.22.04.1 [2,754 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.34-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.1 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.34-0ubuntu0.22.04.1 [17.5 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.34-0ubuntu0.22.04.1 [1,437 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi0ldbl amd64 2.4.2-2build2 [28.0 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-bin amd64 2.4.2-2build2 [11.2 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.34-0ubuntu0.22.04.1 [9,460 B]
Fetched 29.5 MB in 0s (63.0 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 120875 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.34-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.34-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.1_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.34-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.34-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2build2) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.34-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.34-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2build2) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.34-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 4099
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.34-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.1) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [3]:
# Log in to MySQL as root
!mysql -u root

Welcome to the MySQL monitor.  Commands end with ; or \g.
Your MySQL connection id is 10
Server version: 8.0.34-0ubuntu0.22.04.1 (Ubuntu)

Copyright (c) 2000, 2023, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

mysql> DROP USER IF EXISTS 'test'@'localhost'; # 혹시 이 아이디가 있으면 삭제 CREATE USER 'test'@'lo calhost' IDENTIFIED WITH 'mysql_native_password' BY '1234'; # mysql에서 파이썬을 오픈할 때 비밀번호  를 입력하도록 함 GRANT ALL PRIVILEGES ON *.* TO 'test'@'localhost' WITH GRANT OPTION; FLUSH PRIVILEG ES; # 이 아이디와 비밀번호로 접근하면 모든 권한을 줌
Query OK, 0 rows affected, 1 warning (0.01 sec)

mysql> DROP USER IF EXISTS 'test'@'localhost'; CREATE USER 'test'@'localhost' IDENTIFIED WITH 'mysql _native_password' BY '1234'; GRANT ALL PRIVILEGES ON *.* TO 'test'@'localhost' WITH GRANT OPTION; FL USH PRIVILEGES;
Query OK, 0 rows affected, 1 warning (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

mysql> DROP DATABASE IF EXISTS TestDataset; CREATE DATABASE TestDataset; CREATE TABLE TestDataset.Te stTable (     ID INT AUTO_INCREMENT PRIMARY KEY,     Name VARCHAR(255),     Age INT ); INSERT INTO T estDataset.TestTable (Name, Age) VALUES ('John', 30), ('Alice', 25), ('Bob', 35); exit;
Query OK, 0 rows affected, 1 warning (0.01 sec)

Query OK, 1 row affected (0.01 sec)

Query OK, 0 rows affected (0.05 sec)

Query OK, 3 rows affected (0.01 sec)
Records: 3  Duplicates: 0  Warnings: 0

Bye

```mysql
DROP USER IF EXISTS 'test'@'localhost';
CREATE USER 'test'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY '1234';
GRANT ALL PRIVILEGES ON *.* TO 'test'@'localhost' WITH GRANT OPTION;
FLUSH PRIVILEGES;
```

```mysql
DROP USER IF EXISTS 'test'@'localhost'; # 혹시 이 아이디가 있으면 삭제
CREATE USER 'test'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY '1234'; # mysql에서 파이썬을 오픈할 때 비밀번호를 입력하도록 함
GRANT ALL PRIVILEGES ON *.* TO 'test'@'localhost' WITH GRANT OPTION;
FLUSH PRIVILEGES; # 이 아이디와 비밀번호로 접근하면 모든 권한을 줌
```

```mysql
DROP DATABASE IF EXISTS TestDataset;
CREATE DATABASE TestDataset;
CREATE TABLE TestDataset.TestTable (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(255),
    Age INT
);
INSERT INTO TestDataset.TestTable (Name, Age) VALUES
('John', 30),
('Alice', 25),
('Bob', 35);
exit;
```

```mysql
DROP DATABASE IF EXISTS TestDataset;
CREATE DATABASE TestDataset; # 데이터셋 만들기
CREATE TABLE TestDataset.TestTable ( # 테이블 만들기
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(255),
    Age INT # 테이블에 들어갈 수 있는 것은 id, name, age 3개만 가능
);
INSERT INTO TestDataset.TestTable (Name, Age) VALUES
('John', 30),
('Alice', 25),
('Bob', 35); # id가 없는 이유는 primary key이기 때문(프라이머리 키는 개수 체크)
exit;
```

In [5]:
!pip uninstall mysql-connector
!pip uninstall mysql-connector-python
!pip install mysql-connector-python

WARNING: Skipping mysql-connector as it is not installed.
WARNING: Skipping mysql-connector-python as it is not installed.
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 53.7 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 45.9 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-metadata 1.14.0 requires protobuf<4.21,>=3.20.3, but you have protobuf 4.21.12 which is incompatible.
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [6]:
# Import the necessary libraries
import mysql.connector

# Connect to MySQL
mysql_conn = mysql.connector.connect(
    host="localhost",  # Database server address
    user="test",  # Database username
    password="1234",  # User's password
    database="TestDataset" # Name of the database
)

**Executing SQL Queries**

In [7]:
# Create a cursor object
mysql_cursor = mysql_conn.cursor(buffered=True) # 파이썬은 직관적으로 누구나 쉽게 접근할 수 있도록 pointer가 아닌 cursor라는 명령어를 사용한다.

# Execute SQL queries
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable") # 마우스 커서로 데이터 셋 안에 있는 3개를 선택하라.

# Fetch data from the queries
mysql_result = mysql_cursor.fetchall() # 선택한 것을 파이썬 쪽으로 가져오는 것이 fetchall이다.

print(mysql_result)

# 구글 컴퓨터 안에 python과 mysql이 있고, 구글 컴퓨터 안에서 일어나는 일이다.

[(1, 'John', 30), (2, 'Alice', 25), (3, 'Bob', 35)]

**CRUD Operations**

In [12]:
# CREATE: Insert a new record
mysql_cursor.execute("INSERT INTO TestDataset.TestTable (Name, Age) VALUES (%s, %s)", ("John Doe", 30)) # john doe를 추가
# mysql_conn.commit() # 행동하라는 말, 없어도 딱히 문제 없음
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"CREATE example: {mysql_result}") # 이거랑 # 최신 코딩 트랜드
print("CREATER example: {}".format(mysql_result)) # 이거는 값이 같다. 변수를 프린트 하기 위해 format이 사용된다 # 거의 파이썬만 사용

# READ: Retrieve data
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable WHERE Name = 'John Doe'") # john doe 만 가져와라, 책갈피가 있어서 빨리 찾을 수 있음
mysql_result = mysql_cursor.fetchone()
print(f"READ example: {mysql_result}")


# UPDATE: Update existing data
mysql_cursor.execute("UPDATE TestDataset.TestTable SET Age = 31 WHERE Name = 'John Doe'")
# mysql_conn.commit()
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"UPDATE example: {mysql_result}")


# DELETE: Delete data
mysql_cursor.execute("DELETE FROM TestDataset.TestTable WHERE Name = 'John Doe'")
# mysql_conn.commit()
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"DELETE example: {mysql_result}")


# 실행을 한번 할 때마다 john doe의 id는 하나씩 올라간다

CREATE example: [(1, 'John', 30), (2, 'Alice', 25), (3, 'Bob', 35), (8, 'John Doe', 30)]
CREATER example: [(1, 'John', 30), (2, 'Alice', 25), (3, 'Bob', 35), (8, 'John Doe', 30)]
READ example: (8, 'John Doe', 30)
UPDATE example: [(1, 'John', 30), (2, 'Alice', 25), (3, 'Bob', 35), (8, 'John Doe', 31)]
DELETE example: [(1, 'John', 30), (2, 'Alice', 25), (3, 'Bob', 35)]

**Working with Database Libraries**

In [14]:
# Using pandas for data manipulation
import pandas as pd

# Retrieve data from the database and create a DataFrame
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
data = mysql_cursor.fetchall()
df = pd.DataFrame(data, columns=["ID", "Name", "Age"])
print(df)

# Perform data analysis with pandas
average_age = df["Age"].mean()
print(average_age)

# 파이썬에 있는 mean 등의 많은 기능을 사용하기 위해 mysql에 파이썬을 연결해서 사용하는 것이다.

   ID   Name  Age
0   1   John   30
1   2  Alice   25
2   3    Bob   35
30.0

**------------------------------어떤 사람이 질문한거------------------------------**

In [18]:
for i in 1:
  print(i)

# 여기에서 에러가 생기는 이유는 for문은 반복 가능한 객체에 대해서만 동작하지만 숫자 1은 반복 가능한 객체가 아니다.

TypeError: ignored

In [19]:
for i in [1]:
  print(i)

1

In [22]:
for i in range(1):
  print(i)

0

In [23]:
for i in range(2):
  print(i)

0
1

In [15]:
tt = [1, 2, 3]
for t in range(3):
  print(tt[t])

# 이건 반복 가능

1
2
3