<a href="https://colab.research.google.com/github/cocomarine25/LBnC/blob/main/midterm_study/class2023Fall_0908_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

### 1. Lists, Tuples, and Dictionaries

---

#### **Lists**

A list is an ordered collection of items. Lists are mutable, which means you can modify their content.

* **Creating Lists**
    ```python
    my_list = [1, 2, 3, 4, 5]
    ```

* **Accessing Items**
    ```python
    first_item = my_list[0]
    ```

* **Modifying Items**
    ```python
    my_list[1] = 20
    ```

* **Appending & Removing**
    ```python
    my_list.append(6)  # Add to the end
    my_list.remove(3)  # Remove first occurrence of 3
    ```

---

#### **Tuples**

Tuples are similar to lists but they are immutable. This means that you can't modify their content after creation.

* **Creating Tuples**
    ```python
    my_tuple = (1, 2, 3, 4, 5)
    ```

* **Accessing Items**
    ```python
    first_item = my_tuple[0]
    ```

* **Note**: Tuples cannot be modified after creation.

---

#### **Dictionaries**

Dictionaries are unordered collections of key-value pairs.

* **Creating Dictionaries**
    ```python
    my_dict = {
        "name": "John",
        "age": 30,
        "city": "New York"
    }
    ```

* **Accessing Values**
    ```python
    name = my_dict["name"]
    ```

* **Modifying Values**
    ```python
    my_dict["age"] = 31
    ```

* **Adding & Removing Key-Value Pairs**
    ```python
    my_dict["country"] = "USA"
    del my_dict["city"]
    ```

---

### 2. Understanding Data Structures and Their Operations

---

#### **Lists**

* **Common Operations**:
    * Append: `list.append(item)`
    * Insert: `list.insert(index, item)`
    * Remove: `list.remove(item)`
    * Pop: `list.pop(index)`

* **Slicing Lists**
    ```python
    sub_list = my_list[1:4]
    ```

---

#### **Tuples**

* **Use Cases**: When you want an immutable ordered list of items.
    * Coordinates (x, y)
    * RGB colors (r, g, b)

---

#### **Dictionaries**

* **Common Operations**:
    * Add/Edit: `dict[key] = value`
    * Remove: `del dict[key]`
    * Get: `dict.get(key, default)`

* **Keys and Values**:
    ```python
    keys = my_dict.keys()
    values = my_dict.values()
    ```

---

### 3. Manipulating and Accessing Data Structures

---

#### **Lists**

* **Iterating Over Lists**
    ```python
    for item in my_list:
        print(item)
    ```

* **List Comprehensions** (A concise way to create lists)
    ```python
    squares = [x**2 for x in range(10)]
    ```

---

#### **Tuples**

* **Unpacking Tuples**
    ```python
    x, y, z = (10, 20, 30)
    ```

---

#### **Dictionaries**

* **Iterating Over Dictionaries**
    ```python
    for key, value in my_dict.items():
        print(key, value)
    ```

* **Dictionary Comprehensions**
    ```python
    square_dict = {x: x**2 for x in range(5)}
    ```

---

**코드 연습 시작 !**

**List**

In [58]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [59]:
first_item = my_list[0]
print(first_item)

1

In [60]:
my_list[1] = 20
print(my_list)

[1, 20, 3, 4, 5]

In [61]:
my_list.append(6)  # Add to the end
print(my_list)

[1, 20, 3, 4, 5, 6]

In [62]:
my_list.remove(3)  # Remove first occurrence of 3
print(my_list)

[1, 20, 4, 5, 6]

In [63]:
sub_list = my_list[1:4]
print(sub_list)

[20, 4, 5]

In [64]:
for item in my_list:
  print(item)

1
20
4
5
6

In [65]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Tuple**

In [66]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [67]:
first_item = my_tuple[0]
print(first_item)

1

In [68]:
 x, y, z = (10, 20, 30)
 print(x)
 print(y)
 print(z)
 print(x, y)

10
20
30
10 20

**Dictionaries**

In [69]:
my_dict = {
      "name": "John",
      "age": 30,
      "city": "New York"
  }
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [70]:
name = my_dict["name"]
print(name)

John

In [71]:
my_dict["age"] = 31
print(my_dict)

{'name': 'John', 'age': 31, 'city': 'New York'}

In [72]:
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 31, 'city': 'New York', 'country': 'USA'}

In [73]:
del my_dict["city"]
print(my_dict)

{'name': 'John', 'age': 31, 'country': 'USA'}

In [74]:
keys = my_dict.keys()
values = my_dict.values()
print(keys)
print(values)

dict_keys(['name', 'age', 'country'])
dict_values(['John', 31, 'USA'])

In [75]:
for key, value in my_dict.items():
  print(key, value)

name John
age 31
country USA

In [76]:
square_dict = {x: x**2 for x in range(10)}
print(square_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}