<a href="https://colab.research.google.com/github/cocomarine25/LBnC/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in 1:
  print(i)

# 에러가 생기는 이유는 for는 반복해야하지만 숫자 하나는 돌릴 수 없음

TypeError: ignored

In [3]:
tt = [1, 2, 3]
for t in range(3):
  print(tt[t])

# 반복 가능

1
2
3